@media screen and (max-width: 1050px){
    .nav-list {
        width: 550px;
    }
    .nav-link {
        width: 110px;
        font-size: 1.25em;
    }
    
    /* OFFER */
    .offer-box{
        width: 43%;
        height: auto;
        margin-bottom: 3%;
    }
    .offer-box:nth-of-type(2n){
        margin-right: 0;
    }
    /* ---------------- */
    
     /* NUTRITIONISTS */
    .nutritionist-box{
        width: 80%;
    }
    /* ---------------- */
}
@media screen and (max-width: 880px){ 
    /* COMMON VALUE */
    .section-description{
        line-height: 25px;
    }
    /* ---------------- */
}
@media screen and (max-width: 768px){
    /* COMMON VALUE */
    .center-section{
        width: 95%;
    }
    .section-header{
        margin: 3% 0;
        line-height: 45px;
    }
    .section-description{
        line-height: 25px;
    }
    /* --------------- */
    
    /* MENU */
    nav {
        flex-direction: column;
        justify-content: center;
        position: fixed;
        background-color: rgba(255,255,255, .8);
        box-shadow: 0 0 10px rgb(28,28,28);
        z-index: 101;
        overflow: hidden;
    }
    .nav-list{
        display: none;
        flex-direction: column;
        width: 100%;
        padding: 0;
    }
    .nav-link {
        width: 100%;
        padding: 18px 0;
    }
    .logo-img {
        margin: 5px 20px;
        width: 60px;
        height: 65px;
    }
    .menu-toggler {
        display: block;
    }
    /*  --------------------- */
    
    /* HEADER */
    #top{
        height: 600px;
        background: url(../images/top_mobile.jpg) no-repeat center;
    }
    #top h1{
        margin-top: 30%;
        font-size: 2.5em;
        text-shadow: 0 0 3px rgb(250,250,250);
    }
    #top h2{
        font-size: 1.5em;
    }
    /* --------------- */
    
    /* OFFER */
    .offer-box{
        width: 90%;
        height: auto;
        float: none;
        margin-right: 0;
        padding: 0 5%;
    }
    .offer-box:hover {
        transform: scale(1.02);
    }
    .offer-box ul{
        height: auto;
    }
    
    /* --------------- */
    
    /* NUTRITIONISTS */ 
    .nutritionist-box{
        width: 90%;
    }
    .nutritionist-box:hover{
        transform: scale(1.03);
    }
     /* --------------- */     
     /* FOOTER */
     .details{
         flex-direction: column;
     }
     .photo-info{
         margin: 3px 0;
         text-align: left;
     }
}
    /* ----------------- */
@media screen and (max-width: 720px) {
    /* NUTRITIONISTS */ 
    .nutritionist-box{
        margin: 0 auto 20px auto;
        flex-direction: column;
    }
    .nutritionist-box:nth-of-type(2n) {
        margin: 0 auto 20px auto;
        flex-direction: column;
    }
    .presentation {
    flex-direction: column;
    }
    .nutritionist-box:nth-of-type(2n) .presentation{
        flex-direction: column;
    }
    /* ----------------- */
    }
@media screen and (max-width: 605px) {
    /* CONTACT */
    form {
        width: 80%;
    }
     /* --------------- */
}
@media screen and (max-width: 425px) {
    #top h1{
        margin-top: 45%;
    }
}
@media screen and (max-width: 375px) {
    /* CONTACT */
    form {
        width: 95%;
    }
     /* --------------- */ 
}
@media screen and (max-width: 320px) {
    /* COMMON VALUE */
    section_header {
        font-size: 2.2em;
    }
     /* ----------------- */
}