html, body {
    height: 100%;
}
body{
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: rgb(28,28,28);
}
h1, h2{
    margin: 0;
    padding: 0;
}
/* COMMON VALUE */
.center-section {
    width: 92%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 3% 0;
}
.section-header{
    text-align: center;
    font-size: 2.5em;
}
.section-description{
    margin-bottom: 3%;
    text-align: center;
    font-size: 1.3em;
    line-height: 5px;
}
/* ------------------- */
/* ANIMATION */
.slide-right {
    opacity: 0;
    transform: translateX(4rem);
    transition: transform .5s .7s cubic-bezier(0,1,.3,1),
                opacity .4s .7s ease-out;
    will-change: transform, opacity;
}
.slide-left {
    opacity: 0;
    transform: translateX(-4rem);
    transition: transform .5s .7s cubic-bezier(0,1,.3,1),
                opacity .4s 1s ease-out;
    will-change: transform, opacity;
}
.slide-left.is-visible, .slide-right.is-visible {
    opacity: 1;
    transform: translateX(0);
}
.slide-up {
    opacity: 0;
    transform: translateY(4rem);
    transition: transform .5s .7s cubic-bezier(0,1,.3,1),
                opacity .4s .7s ease-out;
    will-change: transform, opacity;
}
.slide-up.is-visible {
  opacity: 1;
  transform: translateY(0);
}
.fade-in {
    opacity: 0;
    transition: opacity .3s .6s ease-out;
    will-change: opacity;
}
.fade-in.is-visible {
    opacity: 1;
}
/*------------------------*/

/* MENU */
nav {
    width: 100%;
    padding: 0;
    overflow: auto;
    display: flex;
    flex-direction: row-reverse;
    transition: .5s;
    justify-content: flex-start;
}
.fixed-menu {
    position: fixed;
    background-color: rgba(255,255,255, .9);
    box-shadow: 0 0 10px rgb(28,28,28);
    justify-content: space-between;
    z-index: 101;
    transition: .5s;
}
.nav-list {
    margin: 0;
    width: 700px;
    padding: 15px 0;
    list-style: none;
    display: flex;
}
.fixed-menu .nav-list {
    padding: 5px 0;
}
.nav-link {
    width: 140px;
    padding: 25.5px 0;
    text-align: center;
    font-size: 1.6em;
}
.fixed-menu .nav-link {
    font-size: 1.3em;
    padding: 22.5px 0;
}
.nav-link a{
    text-decoration: none;
    color: rgb(28,28,28);
}
.nav-link a:hover{
    text-decoration: underline;
    text-shadow: 0 0 3px rgb(128,128,128);
}
.icons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.logo-img {
    margin-top: 10px;
    margin-right: 20px;
    width: 80px;
    height: 91px;
}
.fixed-menu .logo-img {
    margin-top: 0;
    width: 63px;
    height: 68px;
    padding: 4.5px 10px;
}
.menu-toggler {
    width: 50px;
    height: 30px;
    margin: 25px 30px;
    background: rbga(255,255,255,.8);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    transition: all 2s ease;
    display: none;
}
.bar {
    margin-bottom: 7px;
    width: 50px;
    height: 3px;
    background-color: rgb(28,28,28);
    border-radius: 7px;
    transition: all 0.5s ease;
}
.bar:last-child {
    margin-bottom: 0;
}
.open .bar1 {
    transform: rotate(-45deg) translate(-4px, 5px);
}
.open .bar2 {
    opacity: 0;
}
.open .bar3 {
    transform: rotate(45deg) translate(-8px, -12px);
}
/* ----------------------- */
/* HEADER */
#top{
    width: 100%;
    height: 100%;
    background: url(../images/top.jpg)center/cover fixed no-repeat;
    background-size: cover;
    text-align: right;
    overflow: hidden;
}
#top h1{
    margin-top: 15%;
    margin-right: 3%;
    font-family: 'Vidaloka', serif; 
    font-size: 3.5em;
}
#top h2{
    margin-top: 1%;
    margin-right: 3%;
    font-size: 2em;
    font-weight: normal;
}
/* ---------------------- */

/* OFFER */
#con-offer{
    width: 100%;
    padding-bottom: 5%;
    background-color: rgb(229,255,204);
    overflow: hidden;
}
.offer-box{
    width: 18%;
    height: 470px;
    float: left;
    margin-right: 2.3%;
    padding: 1% 2.5%;
    background-color: rgb(253,253,253);
    border: 1px solid rgb(102,204,0);
    transition: all .5s;
}
.offer-box:hover{
    box-shadow: 0 0 10px rgb(76,153,0);
    transform: scale(1.05);
}
.offer-box:last-child {
    margin-right: 0;
}
.vip-box{
    background-color: rgb(102,204,0);
    border: 1px solid rgb(0,153,0);
    color: rgb(253,253,253);
}
.vip-box:hover{
    box-shadow: 0 0 10px rgb(0,153,0);
}
.offer-time{
    margin-bottom: 3%;
    text-align: center;
    font-size: 1.2em;
    font-weight: bold;
}
.offer-box ul{
    height: 270px;
    margin: 10px 0;
    padding: 0;
    list-style: none;
}
.offer-box ul li{
    padding: 3px 0;
}
.offer-box ul li span{
    font-size: 1.2em;
}
.offer-price{
    text-align: center;
    font-size: 2em;
    font-weight: bold;
}
/* ---------------------- */

/* NUTRITIONISTS */ 
#con-nutritionists{
    width: 100%;
    height: auto;
    padding-bottom: 5%;
    background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.2)), url(../images/allFood.jpg)center/cover fixed no-repeat;
    overflow: hidden;
}
#con-nutritionists .section-header, #con-nutritionists .section-description{
    color: rgb(250,250,250);
    text-shadow: 0 0 3px rgb(28,28,28);
}
.team {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.nutritionist-box{
    margin-bottom: 20px;
    width: 70%;
    height: auto;
    padding: 2%;
    display: flex;
    flex-direction: row;
    background: rgba(255,255,255, .9);
    border-radius: 20px;
    transition: transform .5s;
}
.nutritionist-box:nth-of-type(2n) {
    margin: 0 0 20px auto;
    flex-direction: row-reverse;
}
.nutritionist-box:last-of-type {
    margin-bottom: 0;
}
.nutritionist-box:hover{
    transform: scale(1.05);
}
.person {
    display: flex;
    flex-direction: column;
    margin: 0 30px;
}
.person-img{
    display: block;
    margin: 0 auto;
    border-radius: 50%;
}
.person-name{
    margin-top: 5%;
    font-family: 'Vidaloka', serif; 
    text-align: center;
    font-size: 1.8em;
    font-weight: normal;
}
.presentation {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.nutritionist-box:nth-of-type(2n) .presentation{
    flex-direction: row-reverse;
}
.presentation p {
    line-height: 24px;
    font-size: 1.1em;
    text-align: center;
    margin-right: 15px;
}
.presentation blockquote{
    position: relative;
    line-height: 26px;
    font-size: 1.1em;
    text-align: center;
    font-style: italic;
}
blockquote:before,
blockquote:after {
        position: absolute;
	color: rgba(28,28,28, .6);
        font-family: 'Vidaloka', serif; 
	font-size: 5rem;
	width: 3rem;
	height: 3rem;
}

blockquote:before {
	content: '“';
	left: -3rem;
	top: 1rem;
}
blockquote:after {
	content: '”';
	right: -2rem;
	bottom: -3.2rem;
}

/* ---------------------- */

/* LOCATION */
#con-location{
    width: 100%;
    background-color: rgb(229,255,204);
    overflow: auto;
}
#con-location .center-section{
    padding: 3% 0 .5% 0;
}
.map{
    width: 100%;
    height: auto;
}
.map iframe{
    width: 100%;
    height: 600px;
    border: none;
}
/* ---------------------- */

/* CONTACT */
#con-contact{
    width: 100%;
    height: auto;
    padding-bottom: 5%;
    background-color: rgb(229,255,204);
    overflow: hidden;
}
form {
    width: 70%;
    padding: 3%;
    margin: 0 auto;
    background: rgb(253,253,253);
    border: 1px solid rgb(102,204,0);
    border-radius: 20px;
}
.input-box {
    margin-bottom: 15px;
    display: inline-block;
    width: 100%;
    height: auto;
}
.input-box:last-of-type{
    margin-bottom: 0;
}
.label {
    font-size: 1em;
}
.input-box input {
    margin-top: 4px;
    width: 100%;
    padding: .5em;
    border: 1px solid rgb(224,224,224);
    border-radius: 10px;
    font-family: 'Roboto', sans-serif;
    font-size: 1.1em;
}
.input-box input:focus{
    outline: none;
    border: 1px solid rgb(192,192,192);
}
.input-box input.error {
    border: 1px solid rgb(255,0,0);
    color: rgb(28,28,28);
}
.textarea-box {
    width: 100%;
    height: 190px;
    margin-bottom: 1%;
}
.textarea-box textarea {
    margin-top: 5px;
    width: 100%;
    height: 130px;
    padding: .5em;
    border: 1px solid rgb(224,224,224);
    border-radius: 10px;
    font-family: 'Roboto', sans-serif;
    font-size: 1.1em;
    resize: none;
}
.textarea-box textarea:focus{
    outline: none;
    border: 1px solid rgb(192,192,192);
}
.error {
    color: #ff0000;
}
.submit-box {
    width: 50%;
    margin: 0 auto;
}
.submit{
    width: 100%;
    height: 40px;
    background-color: rgb(224,224,224);
    border: 1px solid rgb(128,128,128);
    border-radius: 10px;
    color: rgb(28,28,28);
    font-size: 1.1em;
    font-weight: bold;
    cursor: pointer;
    transition: all .5s;
}
.submit:hover{
    color: rgb(255,255,255);
    background-color: rgb(128,128,128);
    border: 1px solid rgb(96,96,96);
}
.submit:focus{
    outline: none;
}
.failure{
    margin-top: 10px;
    padding: 15px 10px;
    border: 1px solid rgb(255,0,0);
    border-radius: 10px;
    background-color: rgb(242,222,222);
    color: rgb(255,0,0);
}
.success{
    margin-top: 10px;
    padding: 15px 10px;
    border: 1px solid rgb(102,204,0);
    border-radius: 10px;
    background-color: rgb(223,240,216);
    color: rgb(102,204,0);
}

/* ---------------------- */

/* FOOTER */
#con-footer{
    width: 100%;
    background-color: rgb(224,224,224);
    overflow: auto; 
}
.details{
    width: 100%;
    display: flex;
    flex-direction: row;
    font-size: .8em;
}
.autor {
    display: felx;
    margin: 0;
}
.autor p {
    margin: 0;
    padding: 2px 0;
}
.photo-info{
    display: flex;
    margin: 0 0 0 auto;
    text-align: right;
    flex-direction: column;
}
.photo-info ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
.photo-info li {
    padding: 2px 0;
}
/* ---------------------- */
